.searchContainer {
	display: flex;
	flex-direction: column;
	overflow: hidden;

	.buttonsContainer {
		padding: 0 !important;
		margin: 0 !important;
	}

	.searchForm {
		display: flex;
		flex-direction: column;
		overflow: hidden;

		.searchFormGroup {
			display: flex;
			flex-direction: column;
			overflow: hidden;

			.searchFormTitle {
				display: flex;
				justify-content: space-between;
				color: #141a21;
				font-size: 16px;
				font-weight: 600;
				margin: 10px;
			}

			.searchFormBody {
				display: flex;
				flex-direction: column;
				padding: 5px 15px;
				border: 1px solid #9f9f9f7a;
				border-radius: 10px;
				overflow-y: auto;

				&--item {
					margin-bottom: 8px;

					&__label {
						color: #141a21;
						font-size: 14px;
						font-weight: 600;
						margin-bottom: 4px;

						&.required::after {
							content: '*';
							color: red;
						}
					}
				}
			}
		}

		.formButton {
			display: flex;
			margin-top: 10px;
		}
	}

	.buttonContainer {
		display: flex;
		justify-content: end;
		margin-top: 20px;

		.actionButton:not(:last-child) {
			margin-right: 10px;
		}
	}
}
