app-datatable {
  display: flex;
  flex: 1;
  overflow: hidden;
  overflow-x: scroll;
  flex-direction: column;
}

ul {
  display: flex;
  list-style: none;
  justify-content: center;
  cursor: pointer;
}
li {
  padding: 6px 15px;
  background-color: #f2f2f2;
  border-radius: 5px 5px 0 0;
  margin-right: 2px;
}
.active {
  background-color: #00a98b;
  color: #fff;
}
.search-drpdwn {
  display: flex;
  width: 100%;
  justify-content: end;
  margin-right: 20px;
  float: right;
  align-items: center;
  margin: 20px;
}
.search-drpdwn angular2-multiselect {
  width: 23%;
  margin-left: 6px;
}
.table {
  position: relative;
  margin: 5px;
  height: calc(100vh - 70px);
  width: 100%;
}
.mts-webix-intable-search span {
  padding: 4px !important;
  background: red;
  display: inline;
  color: #fff;
}

select {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
  border: 1px solid rgba(153, 160, 164, 0.45);
}

thead tr {
  background-color: #000;
  color: white;
  text-align: center;
}

th,
td {
  padding: 12px 15px;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.delta-row {
  background-color: #fff;
  font-weight: bold;
}

tbody tr {
  border-bottom: 1px solid #dddddd;
  text-align: center;
}
.parent-container { 
  overflow: auto;
}

.table-container {
  // height: 300px; /* Adjust as needed */
  overflow-y: scroll;
}
.graph-container {
  height: auto;
  width: 97.5%; /* Adjust as needed */
  overflow-x: scroll;
  border: 1px solid #ccc;
}

.c3-axis-x-label {
  transform: translate(0px, 50px) rotate(90deg);
}
.graph-container {
  border: 1px solid rgba(153, 160, 164, 0.45);
  padding: 10px;
  // margin-top: 30px;
}

.graph-container #yoy-chart {
  width: 100%;
  height: auto;
  padding: 30px 0;
}
.chart-title-container {
  justify-content: center;
  display: flex;
}

.chart-title {
  margin: 0;
  font-size: 24px;
  background: #dddddd;
  text-align: center;
  width: 50%;
}
.contentContainer {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 0 0 20px 20px;
}
.custom-select {
  width: 120px;
  padding: 8px;
  background-color: #fff;
}

.no-data-message {
  text-align: center;
  font-weight: bold;
  padding: 20px;  /* Add padding for spacing */
}

#carrier-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.carrier-column {
  width: 48%; /* Adjust the width of the columns */
  font-family: Arial, sans-serif;
}

#chart {
  margin-top: 20px;
}
.table-container {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
}

th, td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

th {
  cursor: pointer;
  background-color: #000;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 5px 10px;
  text-align: center;
}

th {
  background-color: #000;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.carrier-column {
  width: 15%;
}

.carrier-name-column {
  width: 35%;
}

.value-column {
  width: 50%; /* Increased width for the value column */
  position: relative;
}

.bar-chart {
  height: 30px; /* Decreased height for the bars */
  background-color: #1f77b4;
  margin: 0; /* Removed margin to reduce the gap between rows */
}

.value-text {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
  font-weight: bold;
}  
h2 {
  font-size: 1.5em;
  margin: 0;
  font-weight: 400;
  background-color: #ddd;
  text-align: center;
  border-bottom: 5px solid #fff;
  color: #000;
}