<div class="mainWholeContainer">
	<div class="d-flex">
		<div class="criteriaSection">
			<form [formGroup]="myForm">
				<div style="display: grid">
					<div class="buttonsContainer" [class.noButton]="!hasT4Access">
						<button tabindex="0" *ngIf="hasT4Access" class="actionButton actionButton__green" (click)="onNavigate()">
							<span class="text">Switch to T4 Application</span>
						</button>
						<div class="formIconContainer">
							<img
								width="11px"
								height="11px"
								src="assets/img/refresh.svg"
								class="formIconContainer--icon"
								(click)="onReset()"
							/>
							<span class="formIconContainer--text" (click)="onReset()">Reset</span>
						</div>
					</div>
					<div
						class="input-wrapper mb-20"
						style="padding-left: 15px; padding-right: 15px; margin-bottom: 1px; background-color: #e6ebed"
					>
						<label class="form-label" data-automation-id="search-carrierLabel" style="font-size: 14px">Platform</label>
						<div>
							<ng-select
								(change)="changeFn($event)"
								class="ngselect popups"
								formControlName="platform"
								style="background-color: white"
								[clearable]="false"
							>
								<ng-option *ngFor="let data of plafForm" [value]="data" style="background-color: white">{{
									data
								}}</ng-option>
							</ng-select>
						</div>
					</div>
					<div
						class="input-wrapper mb-20"
						style="
							padding-left: 15px;
							padding-right: 15px;
							margin-bottom: 1px;
							margin-top: 1px;
							background-color: #e6ebed;
						"
					>
						<label class="form-label" data-automation-id="search-carrierLabel" style="font-size: 14px">Client</label>
						<div>
							<ng-select
								(change)="onClientChange()"
								class="ngselect popups"
								formControlName="client"
								style="background-color: white"
								[clearable]="false"
							>
								<ng-option *ngFor="let data of clients" [value]="data">{{ data }}</ng-option>
							</ng-select>
						</div>
					</div>
					<div
						class="input-wrapper mb-20"
						style="
							padding-left: 15px;
							padding-right: 15px;
							margin-bottom: 1px;
							margin-top: 1px;
							background-color: #e6ebed;
						"
					>
						<label class="form-label" data-automation-id="search-carrierLabel" style="font-size: 14px">Carrier</label>
						<div>
							<ng-select
								class="ngselect popups"
								formControlName="carrier"
								style="background-color: white"
								[clearable]="false"
							>
								<ng-option *ngFor="let data of carrier" [value]="data">{{ data }}</ng-option>
							</ng-select>
						</div>
					</div>
					<div
						class="input-wrapper mb-20"
						style="
							padding-left: 15px;
							padding-right: 15px;
							margin-bottom: 1px;
							margin-top: 1px;
							background-color: #e6ebed;
						"
					>
						<label class="form-label" data-automation-id="search-carrierLabel" style="font-size: 14px">Mode</label>
						<div style="background-color: white">
							<ng-select
								class="ngselect popups"
								formControlName="mode"
								style="background-color: white"
								[clearable]="false"
							>
								<ng-option *ngFor="let data of modes" [value]="data">{{ data }}</ng-option>
							</ng-select>
						</div>
					</div>

					<div
						class="input-wrapper mb-20"
						style="
							padding-left: 15px;
							padding-right: 15px;
							margin-bottom: 1px;
							margin-top: 1px;
							background-color: #e6ebed;
						"
					>
						<label class="form-label" data-automation-id="search-carrierLabel" style="font-size: 14px">Ship Date</label>
						<div style="background-color: white">
							<ng-select
								class="ngselect popups"
								formControlName="shipDate"
								style="background-color: white"
								[clearable]="false"
							>
								<ng-option *ngFor="let data of shipDate" [value]="data">{{ data }}</ng-option>
							</ng-select>
						</div>
					</div>

					<!-- <div class="input-wrapper mb-20" style="padding:15px; margin-bottom: 1px;; margin-top: 1px; background-color:  #E6EBED;">
                <label class="form-label" data-automation-id="search-carrierLabel" style="font-size: 14px;">Ship Date</label>
                  <div>
                    <ng-select class="ngselect popups" formControlName="type" style="background-color: white;">
                      <ng-option *ngFor="let car of cars" [value]="car.id">{{car.name}}</ng-option>
                   </ng-select>
                  </div>
              </div> -->

					<div
						class="one-third"
						data-automation-id="search-trackingNumberWrapper"
						style="padding-left: 15px; padding-right: 15px"
					>
						<label class="form-label" data-automation-id="search-carrierLabel" style="font-size: 14px"
							>Tracking Numbers</label
						>
						<div
							class="tagInputs trackingNum"
							style="border-top: 0px; background-color: white"
							#tags2
							(click)="focus(tags2)"
						>
							<rl-tag-input
								formControlName="trackingNumbers"
								class="tags"
								[(ngModel)]="trackingNumTags"
								[addOnSpace]="true"
								style="padding: 5px; height: 100%; box-shadow: none; overflow-y: auto"
								placeholder=""
								(addTag)="tagAdded($event, 'trackingNumbers')"
								data-automation-id="search-trackingNumberValue"
							>
							</rl-tag-input>
						</div>
					</div>

					<div
						style="
							display: flex;
							justify-content: space-between;
							padding-left: 10px;
							padding-top: 5px;
							background-color: #e6ebed;
						"
					>
						<button
							type="submit"
							style="
								padding: 0px 0px;
								height: 30px;
								width: 100px;
								background-color: #00a98b;
								border: none;
								color: white;
								border-radius: 5px;
							"
							(click)="getOnSubmit()"
						>
							Search
						</button>
					</div>
				</div>
			</form>
		</div>
		<button class="primaryButton reProcessButton" (click)="selectedNormalizeRows()">
			<!-- <span><img class="buttonIcon" ></span> -->
			<span class="engage-right" style="display: flex; justify-content: center"> normalize </span>
		</button>
		<div style="margin: 10px; width: 74%" class="dataTable">
			<!-- <button type="submit" style="padding:15px 15px ; height:40px;width:146px; background-color:#FFFFFF;; border-color: black; color: black; border-radius: 5px; margin-left: 700px; margin-bottom: 7px; font-weight: 600;">Table Layout</button> -->
			<app-data-table
				[onChange]="data"
				[columns]="columns"
				[rows]="rows"
				[tableOptions]="tableOptions"
				(serverEvents)="serverEvents($event)"
				[buttons]="buttons"
				(buttonClick)="buttonClickEvents($event)"
				(selectedRowsChange)="selectedRows($event)"
				(selectionEvents)="selectionEvents($event)"
				(scrollEvents)="co2scrollEvents($event)"
			>
			</app-data-table>
		</div>
	</div>
</div>
<div class="error-message-display-success withIcon" *ngIf="successMessage?.length">
	<div class="successMessageIcon">
		<img src="assets/img/whiteCheck.svg" />
	</div>
	<div class="successMessage">{{ successMessage }}</div>
</div>
<div class="error-message-display" style="display: flex" *ngIf="errorMessage?.length">
	<div class="successMessageIcon">
		<img src="assets/img/Warning.svg" style="margin-right: 10px" />
	</div>
	{{ errorMessage }}
</div>
