.graph-container {
  // border: 1px solid rgba(153, 160, 164, 0.45);
  // padding: 10px;
  // margin: 25px 5px;
  border: 1px solid rgba(153, 160, 164, 0.45);
  padding: 10px;
}
.no-data-message {
  text-align: center;
  font-weight: bold;
  padding: 20px; /* Add padding for spacing */
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 5px 10px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  background-color: #000;
  color: #fff;
  font-weight: bold;
}
.bar {
  height: 20px; /* Adjust the height of the bars as needed */
  background-color: #fff; /* Set the bar color to blue */
  transition: width 0.3s ease; /* Smooth width transition */
}

.bar-container {
  display: flex;
  align-items: center;
}
.bar {
  height: 20px;
  background-color: #1f77b4;
  margin-right: 8px;
}
.table-container {
  // max-height: 200px; /* Limit the height to 200px */
  overflow-y: auto; /* Enable vertical scrolling */
  margin: 10px 5px 5px;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}
.table-container thead th {
  position: sticky; /* Make the header sticky */
  top: 0;
  z-index: 2; /* Ensure header stays on top of the body */
  background-color: #000; /* Background color for header */
  padding: 10px;
  text-align: left;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1); /* Subtle shadow for header */
  font-weight: 400;
}
.table-container tbody td {
  padding: 10px;
  border: 1px solid #ddd; /* Optional border for cells */
  color: #000;
}
.table-container {
  width: 100%;
  overflow-x: auto; /* Enable horizontal scrolling */
  border: 1px solid #ccc;
}
.scrollable-table {
  display: block;
  width: 100%;
  // overflow-x: auto; /* Enable horizontal scrolling */
}
.scrollable-table table {
  width: 100%;
  border-collapse: collapse;
}
.scrollable-table th,
.scrollable-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  white-space: nowrap; /* Prevents text from wrapping */
}
.scrollable-table th {
  background-color: #f2f2f2;
  position: sticky;
  top: 0; /* Makes the header sticky */
  z-index: 1; /* Ensures the header is on top */
}
.scrollable-table td {
  background-color: #fff;
}
h2 {
  font-size: 1.5em;
  margin: 0;
  font-weight: 400;
  background-color: #ddd;
  text-align: center;
  border-bottom: 5px solid #fff;
  color: #000;
}
.tbl-header {
  background-color: rgba(255, 255, 255, 0.3);
}
.tbl-content {
  height: 278px;
  overflow-y: auto;
  margin-top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  
}

.tbl-header table,
.tbl-content table {
  width: 100%;
  table-layout: fixed;
  th,
  td {
    padding: 7px 13px;
    text-align: left;
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
  }
  thead {
    background-color: #000;
    color: #fff;
  }
  tbody tr {
    border: 1px solid #ddd;
  }
  td {
    vertical-align: middle;
    font-weight: 400;
    font-size: 15px;
    color: #000;
  }
}

h2 {
  font-size: 1.5em;
  margin: 0;
  font-weight: 400;
  background-color: #ddd;
  text-align: center;
  border-bottom: 5px solid #fff;
  color: #000;
}
