.t4Container {
	padding: 0;
	display: flex;
	height: 100%;
	background-color: #fff;

	.criteriaSection {
		height: auto !important;
		padding: 15px !important;
		// width: 330px !important;
		// min-width: 330px !important;
		width: 25% !important;
		min-width: 23% !important;
	}
	.dataSection{
		width: 72%;
		height: auto;
		overflow-y: scroll;
	}
}
