<div class="bgOverlay" [@fadeInOut]>
	<div class="manageContainer" [@fadeInOut]>
		<div class="manageContainer--header">
			<div class="headerTitle">CO2 Manager Filter</div>
			<div class="headerButtons">
				<button type="button" tabindex="0" class="actionButton" (click)="onResetFilters()">
					<span class="icon">
						<img width="16px" height="16px" src="assets/img/refresh.svg" alt="Reset Custom Filters" />
					</span>
					<span class="text">RESET</span>
				</button>
				<button tabindex="0" class="iconButton" (click)="closePopup.emit()">
					<img width="16px" height="16px" src="assets/img/close-black.svg" alt="Close Manage Popup" />
				</button>
			</div>
		</div>
		<div class="manageContainer--selector">
			<div class="selectorItem">
				<div class="selectorItem--header">Available Filters</div>
				<div class="selectorItem--message green">*Click the arrow to transfer columns</div>
				<div class="selectorItem--list">
					<div class="listItem" [class.disabled]="item.disabled" *ngFor="let item of allFiltersToManage">
						<div class="listItem--name">{{ item.label }}</div>
						<button tabindex="0" class="iconButton" (click)="onSelectFilter(item)"></button>
					</div>
				</div>
			</div>
			<div class="selectorItem">
				<div class="selectorItem--header">Selected Filters</div>
				<div class="selectorItem--message icon">Please select a max of {{ MAX_FILTERS_COUNT }} filters</div>
				<div class="selectorItem--list selected">
					<div class="listItem" *ngFor="let item of selectedFilterToManage">
						<div class="listItem--name">{{ item.label }}</div>
						<button tabindex="0" class="iconButton" (click)="onDeSelectFilter(item.key)"></button>
					</div>
				</div>
			</div>
		</div>
		<div class="manageContainer--error">
			<span class="errorMessage" *ngIf="hasError">
				Users can select only upto a maximum of {{ MAX_FILTERS_COUNT }} filters
			</span>
		</div>
		<div class="manageContainer--buttons">
			<button type="button" tabindex="0" class="actionButton" (click)="closePopup.emit()">
				<span class="icon">
					<img width="16px" height="16px" src="assets/img/close-black.svg" alt="Close Manage Popup" />
				</span>
				<span class="text">Cancel</span>
			</button>
			<button type="button" tabindex="0" class="actionButton actionButton__green" (click)="onSave()" [disabled]="!(selectedFilterToManage.length || allFiltersToManage.length)">
				<span class="icon">
					<img width="16px" height="16px" src="assets/img/save.svg" alt="Save Changes" />
				</span>
				<span class="text">Save</span>
			</button>
		</div>
	</div>
</div>
