h1 {
  font-size: 30px;
  color: #ddd;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.tbl-header {
  background-color: rgba(255, 255, 255, 0.3);
}

.tbl-content {
  height: 278px;
  overflow-y: auto;
  margin-top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid #ddd;
}

.tbl-header table,
.tbl-content table {
  width: 100%;
  table-layout: fixed;
  th,
  td {
    padding: 8px 5px;
    text-align: left;
    font-weight: 600;
    font-size: 14px;
    color: #000;
    // text-transform: uppercase;
    background: #fff;
    border-left: none;
    border-top: none;
    border-right: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  thead {
    background-color: #000;
    color: #fff;
  }
  tbody tr {
    border: 1px solid #ddd;
  }
  td {
    vertical-align: middle;
    font-weight: 400;
    font-size: 14px;
    color: #000;
  }
}

h2 {
  font-size: 18px;
  margin: 0;
  font-weight: 400;
  border-bottom: 5px solid #fff;
  color: #000;
}
.graph-container {
  border: 1px solid rgba(153, 160, 164, 0.45);
  padding: 10px;
}
.no-data-message {
  text-align: center;
  font-weight: bold;
  padding: 20px; /* Add padding for spacing */
}

select {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: none;
}

.delta-row {
  background-color: #fff;
  font-weight: bold;
}

th,
td {
  text-align: center;
  padding: 5px 10px;
  border: 1px solid #ddd;
}

th {
  background-color: #000;
  color: #fff;
  font-weight: 400;
  position: sticky;
  top: 0;
  z-index: 2;
}

td {
  background-color: #fff;
  padding: 5px;
  color: #000;
}

.bar-container {
  display: flex;
  align-items: center;
}

.bar {
  height: 20px;
  background-color: #6bb4b4;
  margin-right: 8px;
}
#mode-chart {
  width: 100%;
  height: auto; /* Auto adjust based on the chart content */
  margin: 0 auto;
}
h2 span {
  margin-left: 14px;
  font-size: 12px;
  text-decoration-line: underline;
  color: #4da697;
  font-style: normal;
  font-weight: 600;
  font-family: "Open Sans";
}

.c3-bar {
  min-height: 5px; /* Set a minimum height for bars */
}

.custom-legend {
  display: flex;
  justify-content: left;
  margin-bottom: 10px; /* Adjust as needed */
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
  color: #000;
  font-family: "Open Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
}

.legend-color {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
  border-radius: 50%;
}
