<div class="table parent-container">
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Year</th>
          <th>PERIOD</th>
          <th>UOM</th>
          <th>ENE</th>
          <th>OPS</th>
          <th>TOT</th>
          <th>TOT_EI</th>
          <th>Compensation USD</th>
        </tr>
      </thead>
      <tbody></tbody>
      <tbody>
        <ng-container
          *ngIf="summaryTableData && summaryTableData.length > 0; else noData"
        >
          <tr *ngFor="let item of summaryTableData">
            <td *ngIf="item.const_year; else emptyCell" class="custom-select">
              <select [(ngModel)]="selectedYear[item.const_year]">
                <option *ngFor="let year of summaryYearData" [value]="year">
                  {{ year }}
                </option>
              </select>
            </td>
            <ng-template #emptyCell>
              <td></td>
            </ng-template>
            <td>{{ item.PERIOD }}</td>
            <td>{{ item.UOM }}</td>
            <td>{{ item.ENE || "-" }}</td>
            <td>{{ item.OPS || "-" }}</td>
            <td>{{ item.TOT || "-" }}</td>
            <td>{{ item.TOT_EI || "-" }}</td>
            <td>
              {{ item.COMPENSATION_USD ? "$" + item.COMPENSATION_USD : "-" }}
            </td>
          </tr>
        </ng-container>
        <ng-template #noData>
          <tr>
            <td colspan="8" class="no-data-message">No data available</td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
  <div class="graph-container">
    <div class="chart-title-container">
      <ul>
        <li
          *ngFor="let item of tabs"
          (click)="toggleTab(item)"
          [ngClass]="currentTab == item ? 'active' : ''"
        >
          {{ item }}
        </li>
      </ul>
    </div>
    <div [hidden]="currentTab != 'By Mode'">
      <div *ngIf="summaryModeData.length > 0; else noDataModeChart" id="mode-chart"></div>
      <ng-template #noDataModeChart>
        <p class="no-data-message">No Data available</p>
      </ng-template>
    </div>
    <ng-container *ngIf="currentTab == 'By Carrier' || currentTab == 'By Lane'">
      <table *ngIf="(currentTab == 'By Carrier' && carriers.length > 0) || (currentTab == 'By Lane' && lanes.length > 0); else noDataCarrierLaneTable">
        <thead>
          <tr>
            <th *ngIf="currentTab == 'By Carrier'">CARRIER</th>
            <th *ngIf="currentTab == 'By Carrier'">CARRIER_NAME</th>
            <th *ngIf="currentTab == 'By Lane'">Lane by Country</th>
            <th *ngIf="currentTab == 'By Lane'">Lane by City</th>
            <th style="width: 40%">VALUE</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of currentTab == 'By Carrier' ? carriers : lanes"
          >
            <td>{{ item.param1 }}</td>
            <td>{{ item.param2 }}</td>
            <td>
              <div class="bar-container">
                <div
                  class="bar"
                  [ngStyle]="{
                    width: getBarWidth(
                      currentTab == 'By Carrier' ? carriers : lanes,
                      item.value
                    )
                  }"
                ></div>
                <span>{{ item.value | number }}</span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <ng-template #noDataCarrierLaneTable>
        <p class="no-data-message">No Data available</p>
      </ng-template>
    </ng-container>
  </div>
</div>
