h1 {
  font-size: 30px;
  color: #ddd;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.tbl-header {
  background-color: rgba(255, 255, 255, 0.3);
}

.tbl-content {
  height: 278px;
  overflow-y: auto;
  margin-top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid #ddd;
}

.tbl-header table,
.tbl-content table {
  width: 100%;
  table-layout: fixed;
  th,
  td {
    padding: 10px 15px;
    text-align: left;
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
  }
  thead {
    background-color: #000;
    color: #fff;
  }
  tbody tr {
    border: 1px solid #ddd;
  }
  td {
    vertical-align: middle;
    font-weight: 400;
    font-size: 15px;
    color: #000;
  }
}

h2 {
  font-size: 1.5em;
  margin: 0;
  font-weight: 400;
  background-color: #ddd;
  text-align: center;
  border-bottom: 5px solid #fff;
  color: #000;
}
.graph-container {
  border: 1px solid rgba(153, 160, 164, 0.45);
  padding: 10px;
}
.no-data-message {
  text-align: center;
  font-weight: bold;
  padding: 20px; /* Add padding for spacing */
}

select {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: none;
}

.delta-row {
  background-color: #fff;
  font-weight: bold;
}

th,
td {
  text-align: center;
  padding: 5px 10px;
  border: 1px solid #ddd;
}

th {
  background-color: #000;
  color: #fff;
  font-weight: 400;
  position: sticky;
  top: 0;
  z-index: 2;
}

td {
  background-color: #fff;
  padding: 5px;
  color: #000;
}

.bar-container {
  display: flex;
  align-items: center;
}

.bar {
  height: 20px;
  background-color: #1f77b4;
  margin-right: 8px;
}
