.appHeader {
	display: flex;
	width: 100%;
	height: 50px;
	border-bottom: 2px solid #eee;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
	box-sizing: border-box;

	&--brand {
		width: 50px;
	}

	&--title {
		display: flex;
		align-items: center;
		padding: 15px 20px;

		&__name {
			color: #000;
			font-family: "Open Sans";
			font-size: 19px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: -0.76px;
		}
	}

	&--navLinks {
		display: flex;
		flex: 1;
		justify-content: center;
		align-items: center;

		&__group {
			display: flex;
			justify-content: center;
			height: 100%;
			padding: 0;
			margin: 0;
			list-style: none;

			.navLinkItem {
				display: flex;
				justify-content: center;
				align-self: end;
				height: 40px;
				padding: 0;
				margin: 0;

				&:not(:last-child) {
					margin-right: 4px;
				}

				.navLink {
					display: flex;
					flex-direction: column;
					justify-content: center;
					width: 100%;
					padding: 15px;
					margin: 0;
					border-radius: 5px 5px 0px 0px;
					background-color: #f2f2f2;
					color: #000;
					text-decoration: none;
					text-align: center;
					font-size: 20px;
					line-height: 15px;

					&:hover,
					&.active {
						background-color: #00a98b;
						color: #fff;
					}
				}
				.navLink.disabled {
					pointer-events: none;
					color: gray; /* Or any other color to indicate it's disabled */
					cursor: not-allowed;
				}
			}
		}
	}
}
.text{
	margin-left: 15px;
    color: #4DA697;
    font-family: "Open Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.36px;
    text-decoration-line: underline;
    cursor: pointer;
}
