<header class="appHeader">
	<div class="appHeader--brand"></div>
	<div class="appHeader--title">
		<span class="appHeader--title__name">CO2 Manager</span>
			<span class="text" (click)="onNavigate()" *ngIf="isT4User">Switch to FPS App</span>
	</div>
	<nav class="appHeader--navLinks">
		<ul class="appHeader--navLinks__group" *ngIf="isT4User">
			<li class="navLinkItem">
				<a class="navLink" routerLink="/t4/summary" routerLinkActive="active" ariaCurrentWhenActive="page">
					Executive Summary
				</a>
			</li>
			<li class="navLinkItem">
				<a class="navLink" routerLink="/t4/detail" routerLinkActive="active" ariaCurrentWhenActive="page">Detail</a>
			</li>
			<!-- <li class="navLinkItem">
				<a class="navLink" routerLink="/t4/intensity" routerLinkActive="active" ariaCurrentWhenActive="page">
					Intensity
				</a>
			</li> -->
			<!-- <li class="navLinkItem">
				<a class="navLink" routerLink="/t4/total" routerLinkActive="active" ariaCurrentWhenActive="page">
					Total Emissions by Carrier
				</a>
			</li> -->
			<li class="navLinkItem">
				<a class="navLink" routerLink="/t4/data-issue" routerLinkActive="active" ariaCurrentWhenActive="page">
					Data Issue
				</a>
			</li>
		</ul>
	</nav>
</header>
