<header>
  <div class="headerbox-brand">
    <div class="logo"></div>
    <div class="txtr">TTSM</div>
  </div>
  <div class="headerbox-title" style="color: black;">
    CO2 Data Manager
  </div>
  <div class="headerbox-navlinks">
    <ul>
      <button type="submit" class="headerboxstyle" >Dashboard</button>
      <button type="submit" class="headerboxstyle" >Data</button>
      <button type="submit" class="headerboxstyle" >Configuration</button>

      <!-- <li [ngClass]="{'activated': rlink != null && rlink == 'Dashboard'}">
        <div (click)="rlink = 'Dashboard';">Dashboard</div>
      </li>
      <li [ngClass]="{'activated': rlink != null && rlink == 'Link 1'}">
        <div (click)="rlink = 'Link 1';">Data</div>
      </li>
      <li [ngClass]="{'activated': rlink != null && rlink == 'Link 2'}">
        <div (click)="rlink = 'Link 2';">Configuration</div>
      </li> -->
    </ul>
  </div>
  <div class="headerbox-actions">
    <ul class="headerbox-actlinkicons">
      <li class="headerbox-actlinkitems">
        <i class="hicon app-bellicon"></i>
      </li>
      <li class="headerbox-actlinkitems">
        <i class="hicon app-adminicon"></i>
        <ul class="headerbox-submenus">
          <li class="headerbox-submenus-item">Sub Admin Macker Option 1</li>
          <li class="headerbox-submenus-item">Sub Admin Macker Option 2</li>
          <li class="headerbox-submenus-item">Sub Admin Macker Option 3</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="headerbox-rsidemenu">
    <!-- Right Side Menu (If any)-->
  </div>
</header>
